body {
  background-color: rgb(234, 217, 207);
  font-family: "Anonymous Pro", monospace;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Slab", serif;
}

a {
  color: rgb(80, 118, 125);
}

.body-container {
  background-color: whitesmoke;
  box-shadow: 3px 3px 1px rgba(192, 192, 192, 0.3);
  max-width: 900px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px;
}

.header-container {
  border-bottom: solid rgb(80, 118, 125);
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.current-city {
  border: none;
  color: rgb(26, 62, 62);
  font-size: 38px;
  line-height: 48px;
  margin: 0 auto;
  padding: 0px 0px 0px 50px;
  width: 70%;
}

.search-form-input {
  background-color: rgb(234, 217, 207);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: 1px 1px 2px rgb(244, 201, 173);
  width: 70%;
}
.search-form-button {
  background-color: rgb(80, 118, 125);
  border: none;
  border-radius: 5px;
  color: rgb(244, 201, 173);
  font-size: 14px;
  box-shadow: 1px 1px 2px rgb(26, 62, 62);
  width: 25%;
  padding: 10px;
  margin-left: 5px;
}

.current-date {
  color: rgb(26, 62, 62);
  font-size: 15px;
  padding: 15px 0px 0px 50px;
}

.details-container {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
}

.current-temperature-container {
  color: rgb(26, 62, 62);
  background-color: rgb(244, 201, 173);
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(158, 88, 58);
  height: 300px;
  margin: 30px;
  width: 200px;
  padding: 0px 70px 0px 70px;
  text-align: center;
}

.weather-emoji {
  font-size: 15px;
  padding-top: 5px;
}

.desciption-weather {
  font-size: 18px;
  line-height: 15px;
}

.current-temperature-value {
  font-size: 50px;
  padding-top: 20px;
  line-height: 50px;
}
.sun-hours-container {
  padding-top: 15px;
}
.today-sunrise {
  font-size: 15px;
}
.today-sunrise-hour {
  font-size: 12px;
}
.today-sunset {
  font-size: 15px;
}
.today-sunset-hour {
  font-size: 12px;
}

.current-humidity-container {
  color: rgb(26, 62, 62);
  background-color: rgb(244, 201, 173);
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(158, 88, 58);
  height: 300px;
  margin: 30px;
  padding: 0px 70px 0px 70px;
  text-align: center;
  width: 200px;
}

.wind-emoji {
  font-size: 38px;
  padding-top: 20px;
}

.current-wind {
  font-size: 15px;
  padding-top: 5px;
}

.current-wind-value {
  font-size: 20px;
}

.humidity-emoji {
  font-size: 38px;
  padding-top: 20px;
}
.current-humidity {
  font-size: 15px;
  padding-top: 5px;
}

.current-humidity-value {
  font-size: 20px;
}

.current-moon-container {
  color: rgb(26, 62, 62);
  background-color: rgb(244, 201, 173);
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(158, 88, 58);
  height: 300px;
  margin: 30px;
  padding: 0px 70px 0px 70px;
  text-align: center;
  width: 200px;
}

.moon-emoji {
  font-size: 38px;
  padding-top: 20px;
}

.moon-description {
  font-size: 20px;
  line-height: 20px;
  padding-top: 5px;
}

.moon-sign {
  font-size: 15px;
  padding-top: 10px;
}

.sign-emoji {
  font-size: 25px;
  padding: 5px;
}

.moon-hours-container {
  padding-top: 15px;
}
.moon-rise {
  font-size: 15px;
}
.moon-rise-hour {
  font-size: 12px;
}
.moon-set {
  font-size: 15px;
}
.moon-set-hour {
  font-size: 12px;
}

footer {
  border-top: solid rgb(80, 118, 125);
  color: rgba(0, 0, 0, 0.6);
  padding-top: 15px;
  text-align: center;
}
