body {
  background-color: rgb(234, 217, 207);
  font-family: "Anonymous Pro", monospace;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Slab", serif;
}

a {
  color: rgb(80, 118, 125);
}

.body-container {
  background-color: whitesmoke;
  box-shadow: 3px 3px 1px rgba(192, 192, 192, 0.3);
  max-width: 900px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px;
}

.header-container {
  border-bottom: solid rgb(80, 118, 125);
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

h1 {
  border: none;
  color: rgb(26, 62, 62);
  width: 70%;
  padding: 0px 0px 0px 50px;
  margin: 0 auto;
}

.search-form-input {
  background-color: rgb(234, 217, 207);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: 1px 1px 2px rgb(244, 201, 173);
  width: 70%;
}
.search-form-button {
  background-color: rgb(80, 118, 125);
  border: none;
  border-radius: 5px;
  color: rgb(244, 201, 173);
  font-size: 14px;
  box-shadow: 1px 1px 2px rgb(26, 62, 62);
  width: 25%;
  padding: 10px;
  margin-left: 5px;
}

.current-date {
  font-size: 15px;
  padding: 15px 0px 0px 45px;
}

.details-container {
  display: flex;
  justify-content: space-around;
}

.current-temperature-container {
  background-color: rgb(244, 201, 173);
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(158, 88, 58);
  height: 300px;
  margin: 30px auto;
  padding: 10px 70px 10px 70px;
  text-align: center;
}

.current-humidity-container {
  background-color: rgb(244, 201, 173);
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(158, 88, 58);
  height: 300px;
  margin: 30px auto;
  padding: 10px 70px 10px 70px;
  text-align: center;
}

.current-moon-container {
  background-color: rgb(244, 201, 173);
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(158, 88, 58);
  height: 300px;
  margin: 30px auto;
  padding: 10px 70px 10px 70px;
  text-align: center;
}

footer {
  border-top: solid rgb(80, 118, 125);
  color: rgba(0, 0, 0, 0.6);
  padding-top: 15px;
  text-align: center;
}
