body {
  background-color: rgb(234, 217, 207);
  font-family: "Anonymous Pro", monospace;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Slab", serif;
}

a {
  color: rgb(80, 118, 125);
}

.body-container {
  background-color: whitesmoke;
  box-shadow: 3px 3px 1px rgba(192, 192, 192, 0.3);
  max-width: 700px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px;
}

.header-container {
  border-bottom: solid rgb(80, 118, 125);
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.current-city {
  border: none;
  color: rgb(26, 62, 62);
  font-size: 38px;
  line-height: 48px;
  margin: 0 auto;
  padding: 0px 0px 0px 50px;
  width: 70%;
}

.search-form-input {
  background-color: rgb(234, 217, 207);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: 1px 1px 2px rgb(244, 201, 173);
  width: 60%;
}
.search-form-button {
  background-color: rgb(80, 118, 125);
  border: none;
  border-radius: 5px;
  color: rgb(244, 201, 173);
  font-size: 14px;
  box-shadow: 1px 1px 2px rgb(26, 62, 62);
  width: 30%;
  padding: 10px;
  margin-left: 5px;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.details-container {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 50px;
}

.current-date {
  color: rgb(26, 62, 62);
  font-size: 16px;
}

.desciption-weather {
  margin-bottom: 5px;
  margin-top: 15px;
  color: rgb(26, 62, 62);
  font-weight: 500;
}

.current-wind {
  color: rgb(26, 62, 62);
  opacity: 0.7;
}

.current-wind-value {
  color: rgb(26, 62, 62);
  font-weight: 500;
}

.current-humidity {
  color: rgb(26, 62, 62);
  opacity: 0.7;
}

.current-humidity-value {
  color: rgb(26, 62, 62);
  font-weight: 500;
}

.today-sunrise {
  color: rgb(26, 62, 62);
  opacity: 0.7;
}

.today-sunrise-hour {
  color: rgb(26, 62, 62);
  font-weight: 500;
}

.today-sunset {
  color: rgb(26, 62, 62);
  opacity: 0.7;
}

.today-sunset-hour {
  color: rgb(26, 62, 62);
  font-weight: 500;
}

.temperature-container {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
}

.weather-emoji {
  margin-top: 40px;
  margin-right: 15px;
  width: 88px;
  height: 88px;
}

.current-temperature-value {
  color: rgb(26, 62, 62);
  font-size: 88px;
  margin-top: 30px;
}

.weather-unit {
  font-size: 28px;
  margin-top: 40px;
}

.weather-forecast {
  color: rgb(26, 62, 62);
  margin-top: 7px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.8;
}

.forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-max {
  margin-right: 5px;
  font-weight: 450;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

footer {
  border-top: solid rgb(80, 118, 125);
  color: rgba(0, 0, 0, 0.6);
  padding-top: 18px;
  text-align: center;
}
